/adito-agent-client-launcher/target/
/adito-agent-client-awt/target/
/adito-agent-client-swt/target/
/adito-agent-client-swt-standalone/target/
/adito-agent-extension/target/
/adito-agent-client/target/